.single-pitch-detail {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pitch-header h2 {
  font-size: 24px;
  margin: 0;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

.pitch-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Add margin to the tables */
}

.pitch-details td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.pitch-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 16px;
}

.xyz-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.xyz-tables table {
  flex: 1;
  width: 100%;
}

.xyz-tables table td {
  text-align: center;
}

@media (max-width: 768px) {
  .single-pitch-detail {
    padding: 10px;
  }

  .pitch-header h2 {
    font-size: 20px;
  }

  .back-button {
    padding: 8px 16px;
  }
}
