* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.homepage-container {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .homepage-container {
    min-width: unset;
    width: 95vw;
  }
}

.homepage-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.game-list-item {
  list-style: none;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
}

.game-link:hover {
  background-color: #f5f5f5;
}

.date {
  font-size: 16px;
  color: #555;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.team-name {
  font-size: 18px;
  font-weight: bold;
}

.vs {
  font-size: 18px;
  margin: 0 5px;
  color: #777;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  overflow-x: scroll;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #333;
  color: #fff;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.search-bar {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 5px;
  outline: none;
}

.search-bar input[type="text"]::placeholder {
  color: #aaa;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

